<!-- Reset password web page -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Reset Password</title>
    <%- include('./partials/head.ejs'); %>
  </head>
  <style>
    /* body {
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    } */

    .logo img {
      max-width: 300px;
      margin-bottom: 30px;
      width: 100%;
    }
    .title {
      font-size: 30px;
      color: #000;
      font-weight: bold;
    }
    .help-block {
      color: red;
    }
  </style>
  <body>
    <div class="container">
      <div class="row">
      
        <div
          class="col-lg-4 col-md-8 col-sm-8 col-xs-12 col-lg-offset-4 col-md-offset-2 col-sm-offset-2"
        >
          <h3 class="text-center title">
            Reset Password <span class="extra-title muted"></span>
          </h3>
          <% if (success.length == 0) { %> <% if (error.length > 0) { %>
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <%- error %>
          </div>

          <% } }%> <% if (success.length > 0) { %>
          <div class="alert alert-success alert-dismissible" role="alert">
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <%- success %>
          </div>
          <% } %>
          <form
            action="<%=appBaseUrl+'/web/set-password'%>"
            id="resetForm"
            name="resetForm"
            method="POST"
          >
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-lock"></i
                ></span>
                <input
                  class="form-control"
                  type="password"
                  id="password"
                  name="newPassword"
                  placeholder="Password"
                  required
                  />
                  <span class="input-group-addon" style="cursor: pointer;">
                    <i class="bi bi-eye-slash" id="togglePassword"></i>
                  </span>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-lock"></i
                ></span>
                <input
                  class="form-control"
                  type="password"
                  name="confirmPassword"
                  id="confirmPassword"
                  placeholder="Confirm Password"
                  required
                />
                <span class="input-group-addon" style="cursor: pointer;">
                  <i class="bi bi-eye-slash" id="toggleConfirmPassword"></i>
                </span>
              </div>
            </div>
            <% if(req.query.token){%>
            <input
              class="form-control"
              type="hidden"
              name="resetPasswordToken"
              value="<%-req.query.token%>"
            />
            <%}%>
            <div class="form-group">
              <button type="submit" class="btn btn-def btn-block">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="<%=appBaseUrl+'/js/password/showPassword.js'%>"></script>
    <script src="<%=appBaseUrl+'/js/plugins/jquery.validate.js'%>"></script>
    <script src="<%=appBaseUrl+'/js/validation/forgotpassword.validation.js'%>"></script>
  </body>
</html>
